body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    /* Remplacer le dégradé linéaire par une image */
    background-image: url('../images/bg.jpg');
    /* Propriétés supplémentaires pour le fond */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .left {
    background-color: #333; /* Couleur de fond pour .left */
    padding: 10px;
}

.navbar .right {
    /* Pas besoin de float pour les éléments dans un conteneur flex */
}

.logout-btn,
.event-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}




* {
    margin: 0;
    padding: 0;
    font-family: 'Sofia', sans-serif;
  }
  h2 {
    color: #0a4870;
    font-weight: 500;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center; 
    align-items: center;
  }
  ul .booking-card {
    position: relative;
    width: 100%;
    max-width: 380px; 
    /* display: flex;
    flex: 0 0 380px;
    flex-direction: column; */
    margin: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    transition: 0.3s;
  }
  ul .booking-card::before,
  ul .booking-card:active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
  }
  ul .booking-card .book-container {
    height: 200px;
  }
  ul .booking-card .book-container .content,
  ul .booking-card:active .book-container .content {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(-200px);
    transition: 0.3s;
  }
  ul .booking-card .book-container .content .btn {
    border: 3px solid white;
    padding: 10px 15px;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  ul .booking-card .book-container .content .btn:hover {
    background: white;
    border: 0px solid white;
    color: #0a4870;
  }
  ul .booking-card .informations-container {
    flex: 1 0 auto;
    padding: 20px;
    background: #f0f0f0;
    transform: translateY(206px);
    transition: 0.3s;
  }
  ul .booking-card .informations-container .title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
  ul .booking-card .informations-container .title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background: #0a4870;
  }
  ul .booking-card .informations-container .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  ul .booking-card .informations-container .price .icon {
    margin-right: 10px;
  }
  ul .booking-card .informations-container .more-information {
    opacity: 0;
    transition: 0.3s;
  }
  ul .booking-card .informations-container .more-information .info-and-date-container {
    display: flex;
  }
  ul .booking-card .informations-container .more-information .info-and-date-container .box {
    flex: 1 0;
    padding: 15px;
    margin-top: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: white;
    font-weight: bold;
    font-size: 0.9em;
  }
  ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
    margin-bottom: 5px;
  }
  ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
    color: #ec992c;
    margin-right: 10px;
  }
  ul .booking-card .informations-container .more-information .disclaimer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #7d7d7d;
  }
  ul .booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
  }
  ul .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  ul .booking-card:hover .informations-container {
    transform: translateY(0px);
  }
  ul .booking-card:hover .informations-container .more-information {
    opacity: 1;
  }
  /* @media (hover: hover) {
    ul .booking-card:hover::before {
      background: rgba(10, 72, 112, 0.6);
    }
  
    ul .booking-card:hover .book-container .content {
      opacity: 1;
      transform: translateY(0px);
    }
  
  } */
  /* @media (max-width: 768px) {
    ul .booking-card::before {
      background: rgba(10, 72, 112, 0.6);
   }
    ul .booking-card .book-container .content {
      opacity: 1;
      transform: translateY(0px);
   }
    ul .booking-card .informations-container {
      transform: translateY(0px);
   }
    ul .booking-card .informations-container .more-information {
      opacity: 1;
   }
  } */
  
  h1 {
    margin: 10px 20px;
  }
  
  
  
  
  








header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.event-card {
    width: 48%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-card:hover {
    transform: scale(1.05);
}

#event-details-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#close-modal {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#pagination {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    background-color: #fff;
}

#pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

#pagination button:hover {
    background-color: #555;
}


#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: 	#4A390A;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: darkgoldenrod;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #4A390A;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

/* CSS pour l'indicateur de chargement */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Pour s'assurer que l'indicateur de chargement est au-dessus de tout */
}

.loading::after {
    content: 'Loading...';
    font-size: 20px;
    /* Ajoutez d'autres styles de texte ou des animations selon vos besoins */
}
